.bulle {
    z-index: 50;
    position: absolute;
}

.bulle {
    z-index: 50;
    position: absolute;
    animation: fadeIn 0.7s ease-in;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#bulle-1 {
    height: 3vw;
    bottom: 120px;
    left: 3%;
}

#bulle-2 {
    height: 3.7vw;
    bottom: 25px;
    left: 4%;
}

#bulle-3 {
    height: 2.1vw;
    bottom: -120px;
    left: 7%;
}

#bulle-4 {
    height: 3vw;
    bottom: -120px;
    left: 11%;
}

#bulle-5 {
    height: 2vw;
    bottom: 30px;
    left: 11%;
}

#bulle-6 {
    height: 4.1vw;
    bottom: 15px;
    left: 17%;
}

#bulle-7 {
    height: 2.7vw;
    bottom: -120px;
    left: 22%;
}

#bulle-8 {
    height: 1.8vw;
    bottom: 32px;
    left: 25%;
}

#bulle-9 {
    height: 4vw;
    bottom: 0px;
    left: 31%;
}

#bulle-10 {
    height: 3.2vw;
    bottom: -120px;
    left: 36%;
}

#bulle-11 {
    height: 2vw;
    bottom: 120px;
    left: 40%;
}

#bulle-12 {
    height: 3.4vw;
    bottom: 45px;
    left: 36%;
}

#bulle-13 {
    height: 2.3vw;
    bottom: -28px;
    left: 27%;
}

#bulle-14 {
    height: 2.8vw;
    bottom: 15px;
    left: 45%;
}

#bulle-15 {
    height: 3.3vw;
    bottom: -120px;
    left: 49%;
}

#bulle-16 {
    height: 2.5vw;
    bottom: 25px;
    left: 53%;
}

#bulle-17 {
    height: 3.8vw;
    bottom: -15px;
    left: 57%;
}

#bulle-18 {
    height: 2.2vw;
    bottom: 90px;
    left: 61%;
}

#bulle-19 {
    height: 3.5vw;
    bottom: -100px;
    left: 65%;
}

#bulle-20 {
    height: 2.7vw;
    bottom: 120px;
    left: 69%;
}

#bulle-21 {
    height: 3.1vw;
    bottom: -30px;
    left: 73%;
}

#bulle-22 {
    height: 2.4vw;
    bottom: 50px;
    left: 77%;
}

#bulle-23 {
    height: 3.6vw;
    bottom: -60px;
    left: 81%;
}

#bulle-24 {
    height: 2.9vw;
    bottom: 35px;
    left: 85%;
}

#bulle-25 {
    height: 3.4vw;
    bottom: -40px;
    left: 89%;
}

#bulle-26 {
    height: 2.3vw;
    bottom: 110px;
    left: 93%;
}

#bulle-27 {
    height: 3.7vw;
    bottom: -60px;
    left: 93%;
}

#bulle-28 {
    height: 2.6vw;
    bottom: 45px;
    left: 93%;
}

#bulle-29 {
    height: 3.2vw;
    bottom: -360px;
    left: 8%;
}

#bulle-30 {
    height: 2.8vw;
    bottom: -230px;
    left: 18%;
}

#bulle-31 {
    height: 3.5vw;
    bottom: -255px;
    left: 28%;
}

#bulle-32 {
    height: 2.6vw;
    bottom: -195px;
    left: 42%;
}

#bulle-33 {
    height: 3.3vw;
    bottom: -305px;
    left: 48%;
}

#bulle-34 {
    height: 2.9vw;
    bottom: -215px;
    left: 61%;
}

#bulle-35 {
    height: 4.3vw;
    bottom: -285px;
    left: 68%;
}

#bulle-36 {
    height: 2.7vw;
    bottom: -235px;
    left: 78%;
}

#bulle-37 {
    height: 4vw;
    bottom: -245px;
    left: 88%;
}

#bulle-38 {
    height: 3.7vw;
    bottom: -300px;
    left: 93%;
}

@media screen and (max-width: 800px) {
    #bulle-1 {
        height: 6vw;
    }
    #bulle-2 {
        height: 6.7vw;
    }
    #bulle-3 {
        height: 5.1vw;
    }
    #bulle-4 {
        height: 6vw;
    }
    #bulle-5 {
        height: 5vw;
    }
    #bulle-6 {
        height: 7.1vw;
    }
    #bulle-7 {
        height: 5.7vw;
    }
    #bulle-8 {
        height: 5.8vw;
    }
    #bulle-9 {
        height: 7vw;
    }
    #bulle-10 {
        height: 6.2vw;
    }
    #bulle-11 {
        height: 5vw;
    }
    #bulle-12 {
        height: 6.4vw;
    }
    #bulle-13 {
        height: 5.3vw;
    }
    #bulle-14 {
        height: 5.8vw;
    }
    #bulle-15 {
        height: 6.3vw;
    }
    #bulle-16 {
        height: 5.5vw;
    }
    #bulle-17 {
        height: 6.8vw;
    }
    #bulle-18 {
        height: 5.2vw;
    }
    #bulle-19 {
        height: 6.5vw;
    }
    #bulle-20 {
        height: 5.7vw;
    }
    #bulle-21 {
        height: 6.1vw;
    }
    #bulle-22 {
        height: 5.4vw;
    }
    #bulle-23 {
        height: 6.6vw;
    }
    #bulle-24 {
        height: 5.9vw;
    }
    #bulle-25 {
        height: 6.4vw;
    }
    #bulle-26 {
        height: 5.3vw;
    }
    #bulle-27 {
        height: 6.7vw;
    }
    #bulle-28 {
        height: 5.6vw;
    }
    #bulle-29 {
        height: 6.2vw;
    }
    #bulle-30 {
        height: 5.8vw;
    }
    #bulle-31 {
        height: 6.5vw;
    }
    #bulle-32 {
        height: 5.6vw;
    }
    #bulle-33 {
        height: 6.3vw;
    }
    #bulle-34 {
        height: 5.9vw;
    }
    #bulle-35 {
        height: 7.3vw;
    }
    #bulle-36 {
        height: 5.7vw;
    }
    #bulle-37 {
        height: 7vw;
    }
    #bulle-38 {
        height: 6.7vw;
    }
}