#bulle-1 {
    height: 3vw;
    position: absolute;
    bottom: 120px;
    left: 3%;
    z-index: 10;
}

#bulle-2 {
    height: 3.7vw;
    position: absolute;
    bottom: 25px;
    left: 4%;
    z-index: 10;
}

#bulle-3 {
    height: 2.1vw;
    position: absolute;
    bottom: -120px;
    left: 7%;
    z-index: 10;
}

#bulle-4 {
    height: 3vw;
    position: absolute;
    bottom: -120px;
    left: 11%;
    z-index: 10;
}

#bulle-5 {
    height: 2vw;
    position: absolute;
    bottom: 30px;
    left: 11%;
    z-index: 10;
}

#bulle-6 {
    height: 4.1vw;
    position: absolute;
    bottom: 15px;
    left: 17%;
    z-index: 10;
}

#bulle-7 {
    height: 2.7vw;
    position: absolute;
    bottom: -120px;
    left: 22%;
    z-index: 10;
}

#bulle-8 {
    height: 1.8vw;
    position: absolute;
    bottom: 32px;
    left: 25%;
    z-index: 10;
}

#bulle-9 {
    height: 4vw;
    position: absolute;
    bottom: 0px;
    left: 31%;
    z-index: 10;
}

#bulle-10 {
    height: 3.2vw;
    position: absolute;
    bottom: -120px;
    left: 36%;
    z-index: 10;
}

#bulle-11 {
    height: 2vw;
    position: absolute;
    bottom: 120px;
    left: 40%;
    z-index: 10;
}

#bulle-12 {
    height: 3.4vw;
    position: absolute;
    bottom: 45px;
    left: 36%;
    z-index: 10;
}

#bulle-13 {
    height: 2.3vw;
    position: absolute;
    bottom: -28px;
    left: 27%;
    z-index: 10;
}

#bulle-14 {
    height: 2.8vw;
    position: absolute;
    bottom: 15px;
    left: 45%;
    z-index: 10;
}

#bulle-15 {
    height: 3.3vw;
    position: absolute;
    bottom: -120px;
    left: 49%;
    z-index: 10;
}

#bulle-16 {
    height: 2.5vw;
    position: absolute;
    bottom: 25px;
    left: 53%;
    z-index: 10;
}

#bulle-17 {
    height: 3.8vw;
    position: absolute;
    bottom: -15px;
    left: 57%;
    z-index: 10;
}

#bulle-18 {
    height: 2.2vw;
    position: absolute;
    bottom: 90px;
    left: 61%;
    z-index: 10;
}

#bulle-19 {
    height: 3.5vw;
    position: absolute;
    bottom: -100px;
    left: 65%;
    z-index: 10;
}

#bulle-20 {
    height: 2.7vw;
    position: absolute;
    bottom: 120px;
    left: 69%;
    z-index: 10;
}

#bulle-21 {
    height: 3.1vw;
    position: absolute;
    bottom: -30px;
    left: 73%;
    z-index: 10;
}

#bulle-22 {
    height: 2.4vw;
    position: absolute;
    bottom: 50px;
    left: 77%;
    z-index: 10;
}

#bulle-23 {
    height: 3.6vw;
    position: absolute;
    bottom: -60px;
    left: 81%;
    z-index: 10;
}

#bulle-24 {
    height: 2.9vw;
    position: absolute;
    bottom: 35px;
    left: 85%;
    z-index: 10;
}

#bulle-25 {
    height: 3.4vw;
    position: absolute;
    bottom: -40px;
    left: 89%;
    z-index: 10;
}

#bulle-26 {
    height: 2.3vw;
    position: absolute;
    bottom: 110px;
    left: 93%;
    z-index: 10;
}

#bulle-27 {
    height: 3.7vw;
    position: absolute;
    bottom: -60px;
    left: 93%;
    z-index: 10;
}

#bulle-28 {
    height: 2.6vw;
    position: absolute;
    bottom: 45px;
    left: 93%;
    z-index: 10;
}

#bulle-29 {
    height: 3.2vw;
    position: absolute;
    bottom: -360px;
    left: 8%;
    z-index: 10;
}

#bulle-30 {
    height: 2.8vw;
    position: absolute;
    bottom: -230px;
    left: 18%;
    z-index: 10;
}

#bulle-31 {
    height: 3.5vw;
    position: absolute;
    bottom: -255px;
    left: 28%;
    z-index: 10;
}

#bulle-32 {
    height: 2.6vw;
    position: absolute;
    bottom: -195px;
    left: 42%;
    z-index: 10;
}

#bulle-33 {
    height: 3.3vw;
    position: absolute;
    bottom: -305px;
    left: 48%;
    z-index: 10;
}

#bulle-34 {
    height: 2.9vw;
    position: absolute;
    bottom: -215px;
    left: 61%;
    z-index: 10;
}

#bulle-35 {
    height: 4.3vw;
    position: absolute;
    bottom: -285px;
    left: 68%;
    z-index: 10;
}

#bulle-36 {
    height: 2.7vw;
    position: absolute;
    bottom: -235px;
    left: 78%;
    z-index: 10;
}

#bulle-37 {
    height: 4vw;
    position: absolute;
    bottom: -245px;
    left: 88%;
    z-index: 10;
}

#bulle-38 {
    height: 3.7vw;
    position: absolute;
    bottom: -300px;
    left: 93%;
    z-index: 10;
}