.gallery-cell {
    width: 66%;
    height: 300px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.gallery {
    position: absolute;
    width: 70vw;
    top:45vh;
    left: 4vw;
}


.gallery-cell div {
    height: 30px;
    width: 30px;
    background-color: rgba(255, 0, 0, 0.53);
}