@media screen and (max-width: 800px) {

    /*DEBUT NOM PRENOM*/
    .nom-container span {
        color: var(--color-very-dark-blue);
        font-size: 12vw;
        letter-spacing: 0.15em;
    }
    .O-nom-bulle {height: 10.4vw; margin-top: 1.7vw; margin-right: 0.4vw}


    .prenom-container span {
        color: var(--color-very-dark-blue);
        font-size: 12vw;
        letter-spacing: 0.15em;
    }
    .O-prenom-bulle {height: 10.4vw; margin-top: 1.7vw; margin-right: 0.4vw}
    /*FIN NOM PRENOM*/
    
}