.algue-1-container {
    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    z-index: 0;
    
}

.algue-1 {
    position: absolute;
    top:27vh;
    right: 12.5vw;
    width: 27vw;
    z-index: 0;
}

