body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(10deg,
            var(--color-dark-cyan) 0%,
            var(--color-strong-cyan) 80%,
            var(--color-strong-cyan)100%);
}

body.animations-paused *:not(#welcome-popup, #welcome-popup *) {
    animation-play-state: paused !important;
}

@font-face {
    font-family: 'Moon-Regular';
    src: url('../Polices/MOON/Moon2.0-Regular.otf') format('opentype');
}

:root {
    /*palette principale*/
    --color-very-dark-blue: #051f34;
    --color-dark-cyan: #027495;
    --color-strong-cyan: #01a9c1;
    --color-light-grayish-cyan: #bad6db;
    --color-very-light-grayish-cyan: #f4f5f5;

    /*palette secondaire*/
    --color-very-dark-cyan: #164f55;
    --color-slightly-desaturated-cyan: #7fb9c2;
    --color-light-grayish-cyan-lime-green: #e7f0ed;
    --color-dark-grayish-cyan: #95acb2;
    --color-mostly-desaturated-dark-blue: #628ca6;

    /*import Police Moon */
    --font-Moon-regular: 'Moon-Regular', sans-serif;
}   

header {
    width: 100%;
    height: 800px; /* A CHANGER*/
    position: fixed;
    font-family: var(--font-Moon-regular);
    z-index: 49;
}

.header-space-for-margin-top {
    width: 100%;
    height: 1px;
    margin-top: 200px;
}

/*DEBUT NOM PRENOM*/
.nom-container {
    width: 100%;
    height: 10vw; /* Add height to contain absolute elements */
}

.nom-container span {
    color: var(--color-very-dark-blue);
    font-size: 7vw;
    position: absolute;
}

#S-nom { left: calc(50% - 15.1vw); }
#A-nom { left: calc(50% - 11.5vw); }
#I-nom { left: calc(50% - 6.75vw); }
#N-nom { left: calc(50% - 5.8vw); }
#T-nom { left: calc(50% - 1.4vw); }
#O-nom { left: calc(50% + 2.785vw); }
#N-bis-nom { left: calc(50% + 10.55vw); }

.O-nom-bulle {height: 7.4vw; margin-top: 1vw; margin-right: 0.4vw}

.prenom-container {
    width: 100%;
    height: 10vw; /* Add height to contain absolute elements */
}

.prenom-container span {
    color: var(--color-very-dark-blue);
    font-size: 7vw;
    position: absolute;
}

#L-prenom { left: calc(50% - 8.4vw); }
#O-prenom { left: calc(50% - 4.95vw); }
#I-prenom { left: calc(50% + 2.75vw); }
#C-prenom { left: calc(50% + 3.7vw); }

.O-prenom-bulle {height: 7.4vw; margin-top: 0.9vw; margin-right: 0.4vw}
/*FIN NOM PRENOM*/

.animation-bulles-container {
    width: 100%;
    position: absolute;
    bottom: -250px;
    height: 10px;
    background-color: rgba(205, 251, 0);
}

.header-space {
    width: 100%;
    height: 800px;
    position: relative;
}

.start-nom-to-top-animation {
    width: 100%;
    height: 8px;
    background-color: rgb(237, 148, 6);
    position: absolute;
    bottom:20%;
}

main {
    background-color: rgba(137, 149, 4, 0.416);
    width: 100%;
    height: 1000px;

}

footer {
    background-color: rgba(34, 139, 34, 0.384);
    width: 100%;
    height: 600px;
}